@keyframes heartPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: heartPop 0.2s cubic-bezier(0.17, 0.89, 0.32, 1.28);
}